<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Medex">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        
        <div class="header">
            <div class="nav-area">
              <div class="main-head">
                <a href="/">Medex</a>
              </div>
              <div class="main-nav-link-bar">
                <!-- <a class="link register-link" href="/register" align='center'>Create account</a> -->
                <a class="link about-link" href="/about">About</a>
                <a class="link why-link" href="/why/">Why</a>
                {% if request.user.is_authenticated%}
                  Hello, {{user.first_name}}
                  <a href="/logout" class="link logout-link">Logout</a>
                {%else %}    
                <a class="link login-link" href="/login">Log in</a>
                {%endif%}
              </div>
            </div> 
          </div>
        {%block register-content%}
        {%endblock%}
    </body>
</html>
