<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Donate">
        <link rel="stylesheet" href="../static/users.css">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <div class="header">
            <div class="nav-area">
                <div class="main-head">
                <a href="/">Medex</a>
                </div>
                <div class="main-nav-link-bar">
                    <div>
                        {% if request.user.is_authenticated%}
                        <a href="/logout" class="link logout-link">Logout</a>
                        <a class="link about-link" href="about">About</a>
                        <a class="link why-link" href="/why">Why</a>
                        <p>Hello, {{user.first_name}}</p>
                        {%else %}
                        <a class="link register-link" href="/register" align='center'>Sign Up</a>
                        <a class="link why-link" href="/why">Why</a>
                        <a class="link login-link" href="/login">Log in</a>
                        {%endif%}
                    </div>                
                </div>
            </div> 
        </div>
        <div class="main-container-form">
            <div class="main-donation-head" align="center">
                ENTER SOME DETAILS AND START DONATING
            </div>
            <div class="main-donation-form">
                <form method="POST" action="/donate/" class="donation-form">{%csrf_token%}
                    <p>NAME</p>
                    <div class="input-name"><input type="text" name="Name" placeholder="Enter your name" class="input1 donation-form-name"></div><br>
                    <p>EMAIL</p>
                    <div class="input-email"><input type="text" name="email" placeholder="Enter your email" class="input1 donation-form-email"></div><br>
                    <p>MEDICINE</p>
                    <div class="search-wrapper">
                        <div class="search-input">
                            <input type="text" name="search_medicine" placeholder="Type to search medicine" class="input1 donation-form-search-input">
                        </div>
                    </div>
                    <p>Quantity</p>
                    <div class="input-quantity"><input type="number" name="quantity" placeholder="Enter quantity" class="input1 donation-form-quantity"></div><br>
                    <!-- <p>Attach a picture</p>
                    <div class="input-picture"><input type="file" name="picture" placeholder="Attach a picture" class="input1 donation-form-attach-picture"></div><br> -->
                    <p>Expiry date</p>
                    <div class="input-date"><input type="date" name="expirydate" placeholder="Expiry date" class="input1 donation-form-expiry-date"></div><br>
                    <p>Your location</p>
                    <div class="input-location"><input type="text" name="address" placeholder="Address" class="input1 donation-form-address"></div>
                    <div><input type="submit" value="Donate" class="donation-form-input-button"></div>
                    {%for message in messages%}
                        <h3>{{message}}</h3>
                    {% endfor %}
                </form>
            </div>
        </div>
    </body>
</html>