<html>
  <head>
    <title>Medex</title>
    <meta charset="UTF-8">
    <meta name="description" content="This is the home page">
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body>
    <div class="header">
      <div class="nav-area">
        <div class="main-head">
          <a href="/">Medex</a>
        </div>
        <div class="main-nav-link-bar">
          <div>
            {% if request.user.is_authenticated%}
              <a href="logout" class="link logout-link">Logout</a>
              <a class="link about-link" href="/about">About</a>
              <a class="link why-link" href="/why">Why</a>
              <a class="link donate-link" href="/donate">Donate</a>
              <p>Hello, {{user.first_name}}</p>
            {%else %}
              <a class="link register-link" href="register" align='center'>Sign Up</a>
              <a class="link login-link" href="login">Log in</a>
              
              <a class="link about-link" href="about">About</a>
              <a class="link why-link" href="why">Why</a>
              <a class="link donate-link" href="login">Donate</a>
            {%endif%}
          </div>
        </div>
      </div> 
    </div>
    <div class="main-body">
      <div class="container body">
        <div class="body-content">
          <h1 >Medex</h1>
          <h2>Take a step forward and help the ones in need.</h2>
        </div>
      </div>
      
    </div>
    <header>
        <div class="form-container" align = 'center'>
          <form method=POST class = 'form'> {%csrf_token%}
            {% comment %} <div class = 'med med_name'>Medicine Name: {{medicineform.medicine_name}}</div>
            <div class="med number_meds">Number of tablets: {{medicineform.number_of_tablets}}</div>
            <div class="med exp_date">Expiry Date: {{medicineform.expiry_date}}</div> {% endcomment %}
            {% comment %} <input type="submit" class="submit-button"> {% endcomment %}
          </form>
        </div>
    </header>
  </body>
</html>