<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="This is the home page">
    <link rel="stylesheet" href="../static/home.css">
  </head>
  <body>
    <div class="header">
      <h1>Medex</h1>
    </div>
    <div class = wrapper>
      <div class="nav-area">
        <div><a class="link register-link" href="register" align='center'><strong>Create account</strong></a></div>
        <div><a class="link about-link" href="about"><strong>About</strong></a></div>
        <div><a class="link why-link" href="why/"><strong>Why</strong></a></div>
        {% if request.user.is_authenticated%}
          <li><strong>Hello, {{user.first_name}}</strong></li>
          <li><a href="logout" class="link logout-link"><strong>Logout</strong></a></li>
        {%else %}
          <li><a class="link login-link" href="login"><strong>Log in</strong></a></li>
        {%endif%} 
      </div>
    </div>
    <div class="main-body">
      <h1 >Medex</h1>
      <h4>A platform to donate extra, unused and unexpired medicines.</h4>
      {% comment %} <p class="para para-1">Medex is a platform created to donate unused and unexpired medicine to the unprivileged people of India. Hospitals are beyond the reach of several people in India due to financial reasons and the least they should be having is a regular supply of commonly used medicines for basic treatements at home. An estimated 469 million people in India do not have regular access to essential medicines, according to the WHO. </p>
      <p class="para para-2">Since the poor can't afford expensive medicines, a donation from the priviledged people who can actually afford it would be of great help.</p> {% endcomment %}
    </div>
    <div class="main-content">
      <div class="heading">
        <h3 align = "center">WHY DONATE? HOW DO I DONATE?</h3>
      </div>
      <div class="container">
        <div class="section section-why">the Mavericks defeated the Spurs, 103–92. But the Mavs started the season with a 6–40 record on their way to finishing 15–67. However, the Mavericks did make a player acquisition that, while it seemed minor at the time, turned out to play a significant role in the early years of their franchise. Journeyman 6 ft 3 in guard</div>
        <div class="section section-how"></div>
        <div class="section section-about"></div>
      </div>
    </div>
    <header>
        <div class="form-container" align = 'center'>
          <form method=POST class = 'form'> {%csrf_token%}
            {% comment %} <div class = 'med med_name'>Medicine Name: {{medicineform.medicine_name}}</div>
            <div class="med number_meds">Number of tablets: {{medicineform.number_of_tablets}}</div>
            <div class="med exp_date">Expiry Date: {{medicineform.expiry_date}}</div> {% endcomment %}
            {% comment %} <input type="submit" class="submit-button"> {% endcomment %}
          </form>
        </div>
    </header>
  </body>
</html>