<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This is the Whypage">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <div class="header">
            <div class="nav-area">
                <div class="main-head">
                <a href="/">Medex</a>
                </div>
                <div class="main-nav-link-bar">
                    <div>
                        {% if request.user.is_authenticated%}
                        <p>Hello, {{user.first_name}}</p>
                        <a class="link about-link" href="/about">About</a>
                        <a href="/logout" class="link logout-link">Logout</a>
                        <a class="link donate-link" href="/donate">Donate</a>
                        {%else %}
                        <a class="link register-link" href="/register" align='center'>Sign Up</a>
                        <a class="link about-link" href="/about">About</a>
                        <a class="link login-link" href="/login">Log in</a>
                        <a class="link donate-link" href="/login">Donate</a>
                        {%endif%}
                    </div>                
                </div>
            </div> 
        </div>
        <div class="why-container">
            <div class="why-main">
                <div class="why-heading">
                    Why
                </div>
                <div class="why-content">
                    <div class="heading why-heading-1"><b>Why donate?</b></div>
                    <div class="content why-content-1">
                        There are many people in India who can't afford the commonly used medicines and donating some unused and unexpired medicines lying in our households
                        can really help the ones in need.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>