body {
    background-color:whitesmoke;
    margin: 0;
}

.header {
    background-color:white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 0px;
}

.header div.nav-area div.main-head a {
    text-decoration: none;
    font-size: 2rem;
}

.header div.nav-area {
    display: flex;
}

.header div.nav-area div.main-nav-link-bar a{
    text-decoration: none;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    float: right;

}

.header div.nav-area div.main-head {
    width: 75%;
}

.med {
    text-decoration: underline;
    font-size: 30px;
}

.submit-button {
    color:white;
    background: rgba(27, 27, 29, 0.74);
    width: 27%;
    height: 30px;
    border-radius: 12px;
}

.main-body {
    height: 100%;
    background-repeat:no-repeat;
    display:flexbox;
    justify-content: center;
    align-items: center;
}

.main-body h1 {
    font-family: Optima, sans-serif;
    font-size: 10rem;
    margin-left: 8rem;
    position: absolute;
    margin-top: 15rem;
    font-size:3.5rem;
}

.main-body h2 {
    font-family:Verdana;
    color: rgb(23, 149, 221);
    font-size: 16px;    
    margin-left: 40px;
    position: absolute;
    margin-left: 8rem;
    margin-top: 20rem;
    font-size: 1rem
}

.main-content {
    align-items: center;
    background-color:whitesmoke;
}

.main-content div.container {
    margin: 3rem;
}

.main-content div.container div.section {
    background-color: whitesmoke;
    box-shadow:
    0 12.5px 15.4px rgba(0, 0, 0, 0.035),
    0 100px 123px rgba(0, 0, 0, 0.07);
    width: 100%;
    margin: 2rem;
    -webkit-box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
    box-shadow: -2px 7px 21px -9px rgb(0 0 0 / 75%);
}

.main-content div.container {
    display: flex;
}

.main-content div.container div.section img {
    width: 100%;
}

.main-content h3 {
    text-align: center;
}

.main-content div.container div.section p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem;
    font-size:1.1rem;
}

.main-content div.post-section {
    margin: 10px;
    margin-top: 15rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.main-content div.container div.section.section-how {
    height: 24rem;
}
