body {
    background-color: white;
}

.header {
    background-color:white;
    height: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 0px;
    border-radius: 7px;
}
.header h1 {
    margin-left: 100px;
    font-family:Lorem ipsum dolor sit amet;
}


.link {
    background-color: white;
    
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    font-size: 20px;
}

.nav-area li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    font-family: Arial;
    font-size: 15px;
    margin: 10px;
    padding: 0 20px;
    display: inline-block;
    background-color:white ;
}

.nav-area li a.link.register-link {
    background-color: rgba(52, 52, 197, 0.993);
    color: white;
    border-radius: 5px;
    padding-top: 12px;
    text-align: center;
    height: 2rem;
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin:20% 30%;
}

.welcome-text h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.form {
    margin-top: 300px;
    text-align: left;
    margin-left: 15px;
}

.med {
    text-decoration: underline;
    font-size: 30px;
}

.wrapper {
    width: 1300px;
    margin: auto;
    position: absolute;
}

.submit-button {
    color:white;
    background: rgba(27, 27, 29, 0.74);
    width: 27%;
    height: 30px;
    border-radius: 12px;
    display: flexbox;
}

.main-body {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 12px;
    background-color: white;
    height: 160px;
    box-shadow:
    0 5.3px 3px rgba(0, 0, 0, 0.034),
    0 10px 7.2px rgba(0, 0, 0, 0.048),
    0 14.6px 13.6px rgba(0, 0, 0, 0.06),
    0 20.9px 24.3px rgba(0, 0, 0, 0.072),
    0 34.2px 45.5px rgba(0, 0, 0, 0.086),
    0 100px 109px rgba(0, 0, 0, 0.12);
}

.main-body h1 {
    font-family: Optima, sans-serif;
    font-size: 55px;
    margin-top: 100px;
    text-align: left;
    margin-left: 40px;
}

.main-body h4 {
    font-size: larger;
    margin-top: 0px;
    font-family:Verdana;
    color: rgb(23, 149, 221);
    font-size: 16px;    
    margin-left: 40px;
}

.main-content {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
    border-radius: 12px;
    background-color:rgb(169, 166, 179);
    height: 380px;
    padding: 20px;
    display: flex;
    box-shadow:
    0 5.3px 3px rgba(0, 0, 0, 0.034),
    0 10px 7.2px rgba(0, 0, 0, 0.048),
    0 14.6px 13.6px rgba(0, 0, 0, 0.06),
    0 20.9px 24.3px rgba(0, 0, 0, 0.072),
    0 34.2px 45.5px rgba(0, 0, 0, 0.086),
    0 100px 109px rgba(0, 0, 0, 0.12);
}

.main-content h3 {
    background-color: white;
    border-radius: 7px;
    font-size: 25px;
    font-family:sans-serif ;
    display:grid;
}

.main-content div.section {
    box-shadow:
    0 4.7px 2.2px rgba(0, 0, 0, 0.02),
    0 11.4px 5.3px rgba(0, 0, 0, 0.028),
    0 21.4px 10px rgba(0, 0, 0, 0.035),
    0 38.2px 17.9px rgba(0, 0, 0, 0.042),
    0 71.4px 33.4px rgba(0, 0, 0, 0.05),
    0 171px 80px rgba(0, 0, 0, 0.07);
    margin-top: 30px;
    background-color: white ;
    border: 1px solid var(--borderColor);
    height:280px;
    width: 28%;
    display: flex 1;
    border-radius: 5px;
    margin: 20px;
}

.main-content div.section::before {
    content: " ";
    position: absolute;
    width: 7px;
    height: 280px;
    border-radius: 4px;
    background-color: #691a47;
}
.main-content strong {
    margin-left: 20px;
}

.main-content div.section.section-why img {
    width: 100%;
}