body {
    background-color: white;
}

.header {
    background-color:white;
    height: 50px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-left: 0px;
    border-radius: 7px;
}
.header h1 {
    margin-left: 100px;
    font-family:Lorem ipsum dolor sit amet;
}


.link {
    background-color: white;
    
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li{
    display: inline-block;
    font-size: 20px;
}

.nav-area li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px;
    font-family: Arial;
    font-size: 15px;
    margin: 10px;
    padding: 0 20px;
    display: inline-block;
    background-color:white ;
}

.nav-area li a.link.register-link {
    background-color: rgba(52, 52, 197, 0.993);
    color: white;
    border-radius: 5px;
    padding-top: 12px;
    text-align: center;
    height: 2rem;
}




.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin:20% 30%;
}

.welcome-text h1{
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.form {
    margin-top: 300px;
    text-align: left;
    margin-left: 15px;
}

.med {
    text-decoration: underline;
    font-size: 30px;
}

.wrapper {
    width: 1300px;
    margin: auto;
    position: absolute;
}

.submit-button {
    color:white;
    background: rgba(27, 27, 29, 0.74);
    width: 27%;
    height: 30px;
    border-radius: 12px;
    display: flexbox;
}

.main-body {
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 12px;
    background-color: white;
    height: 160px;
    box-shadow:
    0 5.3px 3px rgba(0, 0, 0, 0.034),
    0 10px 7.2px rgba(0, 0, 0, 0.048),
    0 14.6px 13.6px rgba(0, 0, 0, 0.06),
    0 20.9px 24.3px rgba(0, 0, 0, 0.072),
    0 34.2px 45.5px rgba(0, 0, 0, 0.086),
    0 100px 109px rgba(0, 0, 0, 0.12);
}

.main-body h1 {
    font-family: Optima, sans-serif;
    font-size: 55px;
    margin-top: 100px;
    text-align: left;
    margin-left: 40px;
}

.main-body h4 {
    font-size: larger;
    margin-top: 0px;
    font-family:Verdana;
    color: rgb(23, 149, 221);
    font-size: 16px;    
    margin-left: 40px;
}

.main-content {
    margin-left: 50px;
    margin-right: 90px;
    border-radius: 12px;
    background-color: white;
    height: 380px;
    box-shadow:
    0 5.3px 3px rgba(0, 0, 0, 0.034),
    0 10px 7.2px rgba(0, 0, 0, 0.048),
    0 14.6px 13.6px rgba(0, 0, 0, 0.06),
    0 20.9px 24.3px rgba(0, 0, 0, 0.072),
    0 34.2px 45.5px rgba(0, 0, 0, 0.086),
    0 100px 109px rgba(0, 0, 0, 0.12);
}

/* .main-content p {
    height: 280px;
    width: 300px;
    box-shadow:
    0 0.8px 38.4px rgba(0, 0, 0, 0.08),
    0 6px 73px rgba(0, 0, 0, 0.16);
    margin: 30px;
    margin-left: 55px;
    padding:5px;
    border-radius: 10px;
} */

.main-content li {
    display: inline-block;
    height: 33%;
    width: 33%;
    border-radius: 10px;
    box-shadow:
    0 0.8px 38.4px rgba(0, 0, 0, 0.08),
    0 6px 73px rgba(0, 0, 0, 0.16);
}

.para {
    margin-right: 250px;
    font-size: 20px;
    font-family:serif;
}
.main-content li strong {
    font-size: 50px;
    text-align: center;
}